<a href="https://colab.research.google.com/github/IanReyes2/OOP-58003/blob/main/LAB_ACT_2_58003.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [ ]:
a=11

print(11>5)
print(11<5)
print(11==5)

print(a>5)

True
False
False
True

bool()function

In [ ]:
print(bool(1))
print(bool("Ian"))
print(bool("Vincent"))

print(bool(0))
print(bool(None))
print(bool([]))

True
True
True
False
False
False

Functions can return a boolean

In [ ]:
def myFunction():
  return True

print(myFunction())

True

In [ ]:
if myFunction():
  print("True")
else:
  print("False")

True

Application 1

Python Operators

In [ ]:
print(99+1)
print(99-20)
print(6*9)
print(int(6/2))
print(4%5)
print(2/3)
print(8//2)
print(float(80**6))

100
79
54
3
4
0.6666666666666666
4
262144000000.0

Bitwise operators

In [ ]:
a = 90          #0011 1100
b = 40

print(a&b)
print(a|b)
print(a^b)
print(a<<1)
print(a>>1)

8
122
114
180
45

Application 2

In [ ]:
#Python Assignment Operators

Logical Operators

In [ ]:
W = True 
Y = False

not(W and Y)

True

Identity Operators

In [ ]:
W is Y
Y is not W

True

Control Structure

If Statement

In [ ]:
p = 200
q = 100

if p>q:

 print("p is greater than q")

p is greater than q

Elif Statement

In [ ]:
 if p>q:
   print("p is greater than q")
 elif p<q:
   print("p is less than q")

p is greater than q

Else statement

In [ ]:
if p>q:
   print("p is greater than q")
elif p<q:
   print("p is less than q")
else:
    print("p is equal to q")

p is greater than q

Short Hand If statement

In [ ]:
if p>q: print('p is greater than q')

p is greater than q

Short Hand If...Else statement

In [ ]:
print("P") if p>q else print("Q")

P

Nested If...Else

In [ ]:
x = int(input())
if x>10:
  print("x is above 10")
if x>20:
  print("x and also above 20")
if x>30:
  print("x and also above 30")
if x>40:
  print("x and also above 40")
else:
  print("but not above 40")
if x>50:
  print("and also above 50")
else:
  print("but not above 50")

30
x is above 10
x and also above 20
but not above 40
but not above 50

Application 3- write a program (using if else) that determines if the input age is qualified to vote or not. The qualifying age is 18 years old and above.

In [ ]:
age=int(input())

if age>=18:
  print("You are qualified to vote")
else:
  print("You are not qualified to vote")

98
You are qualified to vote

Loop Statement

In [1]:
week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', "Thrusday", "Friday", "Saturday"]
season = ['rainy', 'sunny']

for x in week:
  for y in season:
    print(y,x)

rainy Sunday
sunny Sunday
rainy Monday
sunny Monday
rainy Tuesday
sunny Tuesday
rainy Wednesday
sunny Wednesday
rainy Thrusday
sunny Thrusday
rainy Friday
sunny Friday
rainy Saturday
sunny Saturday

The Break statement

In [25]:

for x in week:
  if x =="Friday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thrusday

In [26]:
for x in week:
  print(x)
  if x =="Friday":
    break

Sunday
Monday
Tuesday
Wednesday
Thrusday
Friday

Application 4 - To display only "Friday"

In [23]:
for x in week:
  if x=="Friday":
    print(x)
    break

Friday

While loop

In [27]:
i = 1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

Application 5 - To dsiplay only no.2 using break statement

In [28]:
i = 1
while i<6:
  if i==5:
    print(i)
    break
  i+=1

5